

@import url('https://fonts.googleapis.com/css?family=Frijole|Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');

@font-face {
  font-family: 'comic2';
  src: url('fonts/comic2.ttf');
}


$primary-color: #ffce28;
$secondary-color: #ff0038;
$third-color: #00cffa;


@mixin websiteTitle {
  position: relative;
  font-size: 80px;
  color: #ff0038;
  font-family: comic2,Verdana;
  margin: auto;
  text-align: center;
}


* {
  margin: 0;
  padding: 0;
}


#mainHeader {

  background-image: url(/images/bgMain.jpg);
  color: $secondary-color;
  height: 400px;
  text-align: center;
  font-family: comic2,Verdana;

  h1 {
    @include websiteTitle;
    top: 50px;
  }

  h2 {
    position: relative;
    top: 55px;
  }

}

 .main-menu {

   @include websiteTitle;

   nav {
    width: 80%;
    margin: auto;
    display: grid;

     ul {
      top: 14px;
      position: relative;
      margin: auto;
      width: 80%;
      li {
        float: left;
        background-color: #00cffa;
        text-decoration: none;
        list-style-type: none;
        width: 170px;
        border-radius: 20px;
        margin: 10px 2%;
        font-family: 'Goudy Bookletter 1911', serif;
        font-size: 15px;
        font-weight: bold;
        height: 43px;
        line-height: 45px;
        cursor: pointer;
        a {
          display: block;
          color: #1b0c96;
          text-decoration: none;
        }
      }
    }
  }
}

.user-settings {

  z-index: 1;

  &#profileUser {
    position: absolute;
    width: 250px;
    top: 10px;
    right: 0px;
    text-align: center;

    .profileSec {
      font-size: 20px;
      border-radius: 15px;
      background-color: transparent;
      color: #ff0038;
      font-family: 'Goudy Bookletter 1911', serif;
      font-weight: bolder;
      border-color: #ff0038;
    }

    .subProfileSec {
      background: transparent;
      font-family: 'Goudy Bookletter 1911', serif;
      padding: 10px 10px;
      font-size: 20px;
      width: 100%;

      a {
        text-decoration: none;
      }

    }
  }
}


#logInPage {
  background-image: url(/images/mainBg.jpg);
  height: 662px;

  h1 {
    @include websiteTitle;
    top: 50px;
  }

  button {
    background: linear-gradient(#394499, #3376b5, #394499);
    font-size: 20px;
    margin: auto;
    display: block;
    border: navajowhite;
    width: 350px;
    border-radius: 20px;
    top: 130px;
    position: relative;
    color: #dadeea;
    outline: none;
    cursor: pointer;
    padding: 10px;
  }
}


#gamesPage {
  background-image: url(/images/bgGamesPage.jpg);
  height: 100%;

  #MyGamesArea {
    width: 80%;
    height: 600px;
    border: 1px solid #767aff;
    margin: 30px auto;
    padding: 20px;

    button {
      display: block;
      float: right;
      //font-family: 'Goudy Bookletter 1911', serif;
      //width: 170px;
      //border-radius: 5px;
      //height: 40px;
      //border: navajowhite;
      //background: #767aff;
      //color: #efefef;
      font-size: 1.2em;
    }
  }


}

.lightBox {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s linear all;
  opacity:1;

  .addImages {
    position: fixed;
    z-index: 11;
    width: 60%;
    height: 500px;
    text-align: center;
    margin: auto;
    background-color: #b3ddf5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .closeBtn {
    display: block;
    padding: 5px 10px;
    font-size: 30px;
    outline: none;
  }

  &.ng-hide {
    opacity:0;
  }

  .uploadBtn {
    float: left;
    position: relative;
    margin: 10px;
  }

}




#cardsSec {
  background-color: #d6dfec;

  h1 {
    color: #201988;
    text-align: center;
    font-size: 90px;
    margin: 0px 0px 40px 0px;
    font-family: 'Kaushan Script', cursive;
    padding-top: 50px;
  }

  &.opacity {
    opacity:0.3;
  }

}

.cardBox {
  width: 165px;
  height: 228px;
  display: inline-block;
  margin: 20px 50px;
  background-repeat: no-repeat;
}


.animation {
  animation: changeShowCard 1.5s;
  transform-style: flat;
  transition: 0.4s 0.3s;
  box-shadow: none;
}

.hideCard {
  background-image: url(/images/frontCard.jpg);
  animation: changeHideCard 1.5s;
  transform-style: flat;
  transition: 0.4s 0.3s;
  box-shadow: 0px 0px 70px #FEBD10;
}

.showCard {
  animation: changeShowCard 1.5s;
  transform-style: flat;
  transition: 0.4s 0.3s;
  box-shadow: none;
}

.Dialog {
  position: fixed;
  top: 40%;
  left: 39%;
  width: 20em;
  height: 10em;
  border: 1px solid #ccc;
  border-radius: 45px;
  background: -webkit-radial-gradient(circle, #ffffff, #ffffff, #999999);
  background: -o-radial-gradient(circle, #ffffff, #ffffff, #999999);
  background: -moz-radial-gradient(circle, #ffffff, #ffffff, #999999);
  background: radial-gradient(circle, #ffffff, #ffffff, #999999);
  transition: all 0.3s;

  h1 {
    position: absolute;
    color: #4c4f9c;
    text-align: center;
    font-size: 4em;
    font-family: 'Kaushan Script', cursive;
    top: 8%;
    left: 6%;
  }

  button {
    position: absolute;
    color: #201988;
    text-align: center;
    font-size: 1em;
    font-family: 'Kaushan Script', cursive;
    top: 75%;
    left: 31%;
    width: 122px;
    border: none;
    border-radius: 25px;
    outline:none;
    background: -webkit-linear-gradient(#9ca1dc, #d6dfec, #9ca1dc);
    background: -o-linear-gradient(#9ca1dc, #d6dfec, #9ca1dc);
    background: -moz-linear-gradient(#9ca1dc, #d6dfec, #9ca1dc);
    background: linear-gradient(#9ca1dc, #d6dfec, #9ca1dc);
  }

}

@each $successDialog, $statusDialog in (successDialogOpen,showSuccessDialog), (successDialogClose, showSuccessDialogClose) {
  .#{$successDialog}{
    @extend .Dialog;
    animation: $statusDialog 0.5s forwards;
  }
}



@each $changeCard, $degree in (changeShowCard, -180), (changeHideCard, 180) {
  @keyframes #{$changeCard}{
    100% {
      -moz-transform: rotatey(#{$degree}deg);
      -webkit-transform: rotatey(#{$degree}deg);
      -o-transform: rotatey(#{$degree}deg);
      -ms-transform: rotatey(#{$degree}deg);
      transform: rotatey(#{$degree}deg);
    }
  }
}


@each $dialog, $scale in (showSuccessDialog, 2), (showSuccessDialogClose, 0) {
  @keyframes #{$dialog}{
    100% {
      -moz-transform: scale($scale);
      -webkit-transform: scale($scale);
      -o-transform: scale($scale);
      -ms-transform: scale($scale);
      transform: scale($scale);
    }
  }
}


@each $image in board, ebony, disk, wood, poker {
  .#{$image} {
    background-image: url("/images/#{$image}.jpg");
  }
}




$sparks: 100;
$width: 500;
$height: 500;
$box-shadow: ();

@for $i from 1 through $sparks {
  $box-shadow:  $box-shadow,
  random($width) - $width/2 + px
  random($height) - $height/1.2 + px
  hsl(random(360), 100, 50);
}


.sparks{
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #fff;
}

.sparks.sparks1{
  top: 300px;
  left: 500px;
  animation: bang 1.2s linear infinite;
  animation-delay: 0.8s;
}

.sparks.sparks2{
  top: 500px;
  left: 300px;
  animation: bang 0.8s linear infinite;
  animation-delay: 1s;
}

.sparks.sparks3{
  top: 480px;
  left: 1070px;
  animation: bang 1s linear infinite;
  animation-delay: 0.5s;
}

.sparks.sparks4{
  top: 600px;
  left: 300px;
  animation: bang 0.9s linear infinite;
  animation-delay: 0.4s;
}

.sparks.sparks5{
  top: 280px;
  left: 900px;
  animation: bang 0.8s linear infinite;
  animation-delay: 0.7s;
}

@keyframes bang {
  100% {
    box-shadow: random(40)-40+px random(40)-40+px $box-shadow;
    animation: gravity 1s 1.5s linear infinite;
  }
}
