@import url("https://fonts.googleapis.com/css?family=Frijole|Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911");
@font-face {
  font-family: 'comic2';
  src: url("fonts/comic2.ttf"); }
* {
  margin: 0;
  padding: 0; }

#mainHeader {
  background-image: url(/images/mainBg.jpg);
  color: #ff0038;
  height: 400px;
  text-align: center;
  font-family: comic2,Verdana; }
  #mainHeader #profileUser {
    position: absolute;
    width: 250px;
    top: 25px;
    right: 15px; }
  #mainHeader .profileSec {
    font-size: 20px;
    border-radius: 15px;
    background-color: transparent;
    color: #ff0038;
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: bolder;
    border-color: #ff0038; }
  #mainHeader .subProfileSec {
    background: transparent;
    font-family: 'Goudy Bookletter 1911', serif;
    padding: 10px 10px;
    font-size: 20px;
    width: 100%; }
    #mainHeader .subProfileSec a {
      text-decoration: none; }
  #mainHeader nav {
    width: 80%;
    margin: auto;
    display: grid; }
    #mainHeader nav ul {
      top: 14px;
      position: relative;
      margin: auto;
      width: 80%; }
      #mainHeader nav ul li {
        float: left;
        background-color: #00cffa;
        text-decoration: none;
        list-style-type: none;
        width: 170px;
        border-radius: 20px;
        margin: 10px 2%;
        font-size: 15px;
        height: 43px;
        line-height: 45px;
        cursor: pointer; }
        #mainHeader nav ul li a {
          color: #1b0c96;
          text-decoration: none; }
  #mainHeader h1 {
    position: relative;
    top: 50px;
    font-size: 80px;
    color: #ff0038;
    font-family: comic2,Verdana;
    margin: auto;
    text-align: center; }
  #mainHeader h2 {
    position: relative;
    top: 55px; }

#logInPage {
  background-image: url(/images/mainBg.jpg);
  height: 662px; }
  #logInPage h1 {
    position: relative;
    top: 50px;
    font-size: 80px;
    color: #ff0038;
    font-family: comic2,Verdana;
    margin: auto;
    text-align: center; }
  #logInPage button {
    background: linear-gradient(#394499, #3376b5, #394499);
    font-size: 20px;
    margin: auto;
    display: block;
    border: navajowhite;
    width: 350px;
    border-radius: 20px;
    top: 130px;
    position: relative;
    color: #dadeea;
    outline: none;
    cursor: pointer;
    padding: 10px; }

#cardsSec {
  background-color: #d6dfec; }
  #cardsSec h1 {
    color: #201988;
    text-align: center;
    font-size: 90px;
    margin: 0px 0px 40px 0px;
    font-family: 'Kaushan Script', cursive;
    padding-top: 50px; }
  #cardsSec.opacity {
    opacity: 0.3; }

.cardBox {
  width: 165px;
  height: 228px;
  display: inline-block;
  margin: 20px 50px;
  background-repeat: no-repeat; }

.animation {
  animation: changeShowCard 1.5s;
  transform-style: flat;
  transition: 0.4s 0.3s;
  box-shadow: none; }

.hideCard {
  background-image: url(/images/frontCard.jpg);
  animation: changeHideCard 1.5s;
  transform-style: flat;
  transition: 0.4s 0.3s;
  box-shadow: 0px 0px 70px #FEBD10; }

.showCard {
  animation: changeShowCard 1.5s;
  transform-style: flat;
  transition: 0.4s 0.3s;
  box-shadow: none; }

.Dialog, .successDialogOpen, .successDialogClose {
  position: fixed;
  top: 40%;
  left: 39%;
  width: 20em;
  height: 10em;
  border: 1px solid #ccc;
  border-radius: 45px;
  background: -webkit-radial-gradient(circle, #ffffff, #ffffff, #999999);
  background: -o-radial-gradient(circle, #ffffff, #ffffff, #999999);
  background: -moz-radial-gradient(circle, #ffffff, #ffffff, #999999);
  background: radial-gradient(circle, #ffffff, #ffffff, #999999);
  transition: all 0.3s; }
  .Dialog h1, .successDialogOpen h1, .successDialogClose h1 {
    position: absolute;
    color: #4c4f9c;
    text-align: center;
    font-size: 4em;
    font-family: 'Kaushan Script', cursive;
    top: 8%;
    left: 6%; }
  .Dialog button, .successDialogOpen button, .successDialogClose button {
    position: absolute;
    color: #201988;
    text-align: center;
    font-size: 1em;
    font-family: 'Kaushan Script', cursive;
    top: 75%;
    left: 31%;
    width: 122px;
    border: none;
    border-radius: 25px;
    outline: none;
    background: -webkit-linear-gradient(#9ca1dc, #d6dfec, #9ca1dc);
    background: -o-linear-gradient(#9ca1dc, #d6dfec, #9ca1dc);
    background: -moz-linear-gradient(#9ca1dc, #d6dfec, #9ca1dc);
    background: linear-gradient(#9ca1dc, #d6dfec, #9ca1dc); }

.successDialogOpen {
  animation: showSuccessDialog 0.5s forwards; }

.successDialogClose {
  animation: showSuccessDialogClose 0.5s forwards; }

@keyframes changeShowCard {
  100% {
    -moz-transform: rotatey(-180deg);
    -webkit-transform: rotatey(-180deg);
    -o-transform: rotatey(-180deg);
    -ms-transform: rotatey(-180deg);
    transform: rotatey(-180deg); } }
@keyframes changeHideCard {
  100% {
    -moz-transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    transform: rotatey(180deg); } }
@keyframes showSuccessDialog {
  100% {
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2); } }
@keyframes showSuccessDialogClose {
  100% {
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); } }
.board {
  background-image: url("/images/board.jpg"); }

.ebony {
  background-image: url("/images/ebony.jpg"); }

.disk {
  background-image: url("/images/disk.jpg"); }

.wood {
  background-image: url("/images/wood.jpg"); }

.poker {
  background-image: url("/images/poker.jpg"); }

.sparks {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #fff; }

.sparks.sparks1 {
  top: 300px;
  left: 500px;
  animation: bang 1.2s linear infinite;
  animation-delay: 0.8s; }

.sparks.sparks2 {
  top: 500px;
  left: 300px;
  animation: bang 0.8s linear infinite;
  animation-delay: 1s; }

.sparks.sparks3 {
  top: 480px;
  left: 1070px;
  animation: bang 1s linear infinite;
  animation-delay: 0.5s; }

.sparks.sparks4 {
  top: 600px;
  left: 300px;
  animation: bang 0.9s linear infinite;
  animation-delay: 0.4s; }

.sparks.sparks5 {
  top: 280px;
  left: 900px;
  animation: bang 0.8s linear infinite;
  animation-delay: 0.7s; }

@keyframes bang {
  100% {
    box-shadow: -29px -19px -67px -415.6666666667px #00bbff, -214px -65.6666666667px #00ffcc, -94px -287.6666666667px #ff1e00, 55px -353.6666666667px #ff8000, 3px -283.6666666667px #ff00b3, 148px -192.6666666667px #00ff2b, 99px -241.6666666667px #aa00ff, 238px -229.6666666667px #0d00ff, -51px -209.6666666667px #d9ff00, 244px -90.6666666667px #5900ff, -180px 5.3333333333px #f700ff, -22px -168.6666666667px #b700ff, 175px -373.6666666667px #00ddff, -246px -143.6666666667px #3700ff, 113px -103.6666666667px #80ff00, 236px -272.6666666667px #fff200, 228px -59.6666666667px #a200ff, 107px -120.6666666667px #ccff00, 37px -335.6666666667px #00ffbf, -38px -38.6666666667px #d0ff00, -60px 25.3333333333px yellow, 67px -127.6666666667px #0900ff, -22px 33.3333333333px #00ff2b, 45px -51.6666666667px #ffb300, 142px -108.6666666667px #00ff1a, 120px 71.3333333333px #1500ff, 156px 51.3333333333px #006aff, -175px -59.6666666667px #ff5900, -5px -85.6666666667px #8800ff, 154px -366.6666666667px #66ff00, -137px -381.6666666667px #2bff00, -181px 61.3333333333px #00ccff, -247px 62.3333333333px #ff8400, -162px -330.6666666667px #ffdd00, -121px -160.6666666667px #00ffbb, 9px -196.6666666667px #ffa200, -88px 46.3333333333px #aaff00, 162px -307.6666666667px #00ff2f, -229px -230.6666666667px #ff1100, 134px -371.6666666667px #3c00ff, -216px -228.6666666667px #005eff, -222px -271.6666666667px #00ff59, -233px -245.6666666667px #00ff9d, -232px -273.6666666667px #ff0059, 69px -169.6666666667px #fff700, 96px -316.6666666667px #ff00f2, 109px 63.3333333333px #00fbff, -249px -243.6666666667px #00ff51, -206px -85.6666666667px #004dff, -232px -155.6666666667px #00ff26, 15px -228.6666666667px #40ff00, 133px -79.6666666667px #00aaff, -181px -20.6666666667px #ff3700, 26px -131.6666666667px #40ff00, 40px 69.3333333333px #004dff, -165px -197.6666666667px #a2ff00, 112px -341.6666666667px #0037ff, -13px -288.6666666667px #0015ff, -82px -408.6666666667px #00ff91, 230px 7.3333333333px #0073ff, 80px -7.6666666667px #ff00aa, -134px -123.6666666667px #2200ff, -7px -333.6666666667px #ff00e6, -166px -158.6666666667px #00ffaa, 93px -253.6666666667px #b3ff00, -122px -9.6666666667px #ff4400, -131px -377.6666666667px #ffe600, -92px -83.6666666667px #ff9d00, -13px -194.6666666667px #ffd000, -108px 32.3333333333px #0004ff, 202px 7.3333333333px #ff6200, -157px -358.6666666667px #6f00ff, -170px -283.6666666667px #ffb300, 119px -100.6666666667px #ffbb00, 82px -48.6666666667px #0095ff, 79px -183.6666666667px #ff0d00, -154px -254.6666666667px #ff8000, 151px -1.6666666667px #ff006f, 196px -377.6666666667px #00ffb3, -106px -231.6666666667px #1100ff, -77px -59.6666666667px #2600ff, 168px -107.6666666667px #7300ff, -247px -262.6666666667px #40ff00, 118px -308.6666666667px #ff0088, 3px -365.6666666667px #9100ff, -220px 80.3333333333px #6fff00, 118px -369.6666666667px #2600ff, -227px -54.6666666667px #00d5ff, 177px 22.3333333333px #f200ff, 150px 18.3333333333px #00ffe6, -245px -211.6666666667px #006fff, 87px -392.6666666667px #00fff7, -140px -185.6666666667px #00ff6f, 125px -244.6666666667px #00ddff, -134px -329.6666666667px #002fff, 177px -98.6666666667px #b3ff00, -184px -257.6666666667px #00ff22, 116px -92.6666666667px #ff5500, -61px -158.6666666667px #00ff88, -91px -73.6666666667px #62ff00;
    animation: gravity 1s 1.5s linear infinite; } }

/*# sourceMappingURL=style.css.map */
