
<section id="profileUser">
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle profileSec" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span>{{userDetails.userName}}</span>
            <img src="{{userDetails.userImage}}" class="img-circle"/>
        </button>
        <div class="dropdown-menu subProfileSec">
            <a class="dropdown-item" href="#settings">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" ng-click="logOut()">Logout</a></li>
        </div>
    </div>
</section>